{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-5 mx-auto">
        <h3>DADOS PARA CADASTRO</h3><hr>  <!-- "hr" quebra de linha automática entre elementos HTML-->
        <!-- cria formulário, usadnod método POST e informa a template para onde serão eviado os dados do form-->
       
        <form method="post" action="{{url_for('main.add_user')}}">
            <div class="field">
                <label>Serviço</label>
                <input type="text" name="servico" maxlength="10" required class="form-control">
            </div>
            <div class="field">
                <label>Data entrada</label>
                <input type="text" name="dentrada" maxlength="10" required class="form-control">
            </div>
            <div class="field">
                <label>Data saída</label>
                <input type="text" name="dsaida" maxlength="10" required class="form-control">
            </div>
            <div class="field">
                <label>Descrição do problema</label>
                <input type="text" name="descricao" maxlength="60"  required class="form-control">
            </div>
            <div class="field">
                <label>Equipamento</label>
                <input type="text" name="equipamento" maxlength="30"  required class="form-control">
            </div>
            <div class="field">
                <label>Nome</label>
                <input type="text" name="nome" maxlength="30" required class="form-control">
            </div>
            <div class="field">
                <label>Endereço</label>
                <input type="text" name="endereco" maxlength="30" required class="form-control">
            </div>
            <div class="field">
                <label>Telefone</label>
                <input type="text" name="fone" maxlength="15" required class="form-control">
            </div>
            <div class="field">
                <label>Orçamento</label>
                <input type="text" name="orcamento" maxlength="200" required class="form-control">
            </div>
            
        </br>
            <input type="submit" value="Adicionar" class="btn btn-primary">
        </form>
    </div>

{% endblock %}