<!--- Template de edição de clientes-->
{% extends 'layout.html' %}
<!-- herda características contidos em layout-->
{% block body %}
<main id="main">
  <section id="about" class="about" style="width: 100%">
    <div class="container py-5 h-100" data-aos="fade-up">
      <div class="row">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <!-- comandos bootstrap-->
          <h1>Editar dados</h1>
          <hr />

          <!-- publicação do formulário atrvés do metodo POSt para o banco de dados-->
          <form
            method="post"
            action="{{url_for('main.edit_user',id=datas.id)}}"
          >
            <div class="form group">
              <label>Serviço</label>
              <input
                type="number"
                name="servico"
                maxlength="8"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                required
                class="form-control"
                value="{{datas.servico}}"
              />
            </div>
            <div class="form group">
              <label>Data entrada</label>
              <input
                type="date"
                id="dentrada"
                name="dentrada"
                maxlength="10"
                required
                class="form-control"
                value="{{datas.dentrada}}"
              />
            </div>

            <div class="form group">
              <label>Data saída</label>
              <input
                type="date"
                id="dsaida"
                name="dsaida"
                maxlength="20"
                class="form-control"
                value="{{datas.dsaida}}"
              />
            </div>
            <div class="form group">
              <label>Descrição do problema</label>
              <input
                type="text"
                name="descricao"
                maxlength="60"
                required
                class="form-control"
                value="{{datas.descricao}}"
              />
            </div>
            <div class="form group">
              <label>Equipamento</label>
              <input
                type="text"
                name="equipamento"
                maxlength="30"
                required
                class="form-control"
                value="{{datas.equipamento}}"
              />
            </div>
            <div class="form group">
              <label>Nome</label>
              <input
                type="text"
                name="nome"
                maxlength="80"
                required
                class="form-control"
                value="{{datas.nome}}"
              />
            </div>
            <div class="form group">
              <label>Endereço</label>
              <input
                type="text"
                name="endereco"
                maxlength="100"
                required
                class="form-control"
                value="{{datas.endereco}}"
              />
            </div>
            <div class="form group">
              <label>Telefone</label>
              <input
                type="number"
                name="fone"
                maxlength="14"
                required
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="form-control"
                value="{{datas.fone}}"
              />
            </div>
            <div class="form group">
              <label>Orçamento</label>
              <input
                type="text"
                name="orcamento"
                maxlength="90"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                required
                class="form-control"
                value="{{datas.orcamento}}"
              />
            </div>
            <hr>
            <!-- confirmação da edição-->
            <input type="submit" value="Confirmar" class="btn btn-primary" style="background-color: #37517E;"/>
          </form>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
</main>
<script>
  function checaData(){
      var data_entrada = getElementById('dentrada');
      var data_saida= getElementById('dsaida');

      if(data_entrada > data_saida){
          alert('Data de entrada não pode ser maior que a data de saída');
      }else{
          return false;
      }
  }
</script>
