{% extends "base.html" %}

{% block content %}
<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/panda-books.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/intriseca.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/arqueiro.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/Editora-Prumo.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/planeta.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/casa-do-codigo.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->
</main>
   <!-- ======= About Us Section ======= -->
   <section id="about" class="about" style="width: 100%;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre nós</h2>
      </div>
 
      <div class="row content">
        <div class="col-lg-6">
          <p>
            A Livraria Amanhecer é uma livraria/sebo que está há anos no mercado, atuando de maneira prática a fim de proporcionar
            melhor atendimento aos leitores.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Temos diversos tipos de livros. </li>
            <li><i class="ri-check-double-line"></i> Também atuamos como sebo. </li>
            <li><i class="ri-check-double-line"></i> Realizamos aluguel de alguns livros. </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Além disso, em nossa loja física vendemos variados tipos de produtos para uso nos livros. Temos capas, marcadores de página,
            marcadores de textos e afins.

          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Livros</h2>
        <p>Veja alguns de nossos livros em catálogo/p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Cracking the Coding Interview</a></h4>
            <p>Gayle Laakmann McDowell is the founder and CEO of CareerCup and the author of Cracking the PM Interview and Cracking the Tech Career.
              Her background is in software development. She has worked as a software engineer at Google, Microsoft, and Apple. 
              At Google, she interviewed hundreds of software engineers and evaluated thousands of hiring packets on the hiring committee. 
              She holds a B.S.E. and M.S.E. in computer science from the University of Pennsylvania and an MBA from the Wharton School.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Código limpo: habilidades práticas do Agile software</a></h4>
            <p>Mesmo um código ruim pode funcionar. Mas se ele não for limpo, pode acabar com uma empresa de desenvolvimento. 
              Perdem-se a cada ano horas incontáveis e recursos importantes devido a um código mal escrito. 
              Mas não precisa ser assim.O renomado especialista em software, Robert C. Martin, 
              apresenta um paradigma revolucionário com Código limpo: Habilidades Práticas do Agile Software..</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Arquitetura limpa: o guia do artesão para estrutura e design de software</a></h4>
            <p>A formatação do computador pode ser uma tarefa demorada e tediosa, mas é necessária para manter o computador funcionando sem problemas.
              Entre em contato para formatarmos o seu e pouparmos seu tempo!
            </p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">Arquitetura limpa: o guia do artesão para estrutura e design de software</a></h4>
            <p>As regras universais de arquitetura de software aumentam dramaticamente a produtividade dos desenvolvedores ao longo da vida dos sistemas de software.
               Agora, aproveitando o sucesso dos seus best-sellers "Código Limpo" e "O Codificador Limpo", 
               o lendário artesão de software Robert C. Martin (“Uncle Bob”) vai revelar essas regras e ajudar o leitor a aplicá-las.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Livraria Amanhecer</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->



{% endblock %}