{% extends "base.html" %}

{% block content %}
<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/brastemp.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/samsung.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/lg.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/Xiaomi.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/motorola.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="../static/images/clients/electrolux.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->
</main>
   <!-- ======= About Us Section ======= -->
   <section id="about" class="about" style="width: 100%;">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Sobre nós</h2>
      </div>
 
      <div class="row content">
        <div class="col-lg-6">
          <p>
            A Eletrônica Dom Bosco é uma assistência técnica que está há anos no mercado, atuamos de maneira efetiva, rápida e ética
            para resolver os problemas de nossos clientes.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Realizamos reparos em vários tipos de eletrônicos. </li>
            <li><i class="ri-check-double-line"></i> Aceitamos pix, cartão de débito, crédito e dinheiro como pagamento. </li>
            <li><i class="ri-check-double-line"></i> Reparos efetuados em tempo hábil. </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Além disso, em nossa loja física vendemos variados tipos de produtos. Temos capas, fones e outros acessórios para celulares. 
            Além de termos diversos tipos de eletrônicos a venda por preços incríveis! Venha nos visitar.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

   <!-- ======= Services Section ======= -->
   <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Serviços</h2>
        <p>Veja alguns de nossos serviços</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Reparos de telas</a></h4>
            <p>Telas de aparelhos eletrônicos são partes delicadas de um aparelho. Caso a tela do seu aparelho tenha parado de funcionar, pelo motivo que seja, ou trincado, 
              aqui realizamos reparos ou efetuamos a troca. Entre em contato para pedir um orçamento.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Consertos de eletronicos</a></h4>
            <p>É importante encontrar alguém com conhecimento e experiência em reparos de eletronicos para garantir que seja consertado corretamente. Ter alguém com a experiência certa também 
              pode ajudar a garantir que o reparo seja concluído em tempo hábil.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Formatação de computadores</a></h4>
            <p>A formatação do computador pode ser uma tarefa demorada e tediosa, mas é necessária para manter o computador funcionando sem problemas.
              Entre em contato para formatarmos o seu e pouparmos seu tempo!
            </p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">Reparos de computadores</a></h4>
            <p>É importante encontrar alguém com conhecimento e experiência em reparos de computadores para garantir que o computador seja consertado corretamente. Ter alguém com a experiência certa também 
              pode ajudar a garantir que o reparo seja concluído em tempo hábil.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <footer id="footer">
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Eletronica Dom Bosco</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->



{% endblock %}