
{% extends "base.html" %}

{% block content %}
<section class="vh-100">

    <div class="container py-5 h-100">
        <h3 class="title" style="margin-bottom: 20px;">Cadastre-se</h3>
        <!-- <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="images/image-login.png"
              class="img-fluid" alt="Phone image">
        </div> -->

        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="form-outline mb-4">
                    <div class="control">
                        <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" autofocus="">
                        <label class="form-label">Email</label>
                    </div>
                </div>
    
                <div class="form-outline mb-4">
                    <div class="control">
                        <input  class="form-control form-control-lg" type="text" name="name" placeholder="Name" autofocus="">
                        <label class="form-label" >Nome</label>
                    </div>
                </div>
    
                <div class="form-outline mb-4">
                    <div class="control">
                        <input  class="form-control form-control-lg" type="password" name="password" placeholder="Password">
                        <label class="form-label" >Senha</label>
                    </div>
                </div>
    
                <button class="btn btn-dark btn-lg btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}